.wrapper-news {
  width: 100%;
  height: 100%;
   
}
.background-activities{
  background-image: url("../res/actividades.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-activities {
  margin-top: 20px;
}

  

.text-activities {
  display: inline-block;
  background: linear-gradient(
to right,
rgba(0, 0, 0, 0.3),
rgba(0, 0, 0, 0)
  );
  padding: 0px 40px;
  color: white;
  font-size: 32px;
  margin-bottom: 15px;
}

.section {
display: flex;
flex-direction: column;
background-color: rgba(0, 0, 0, 0.6);
padding: 16px 32px;
color:white;
  text-align: justify;
  width: 60%;
  margin-left: 32px;
  
}
.section-top {
  padding-bottom: 16px;
}
.text-1 {
  display: flex;
  justify-content: space-between;
 

}
.text-1 img {
  width: 400px;
}

.slider-buttons2{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 0;

  
}
.slider-button{
  border: 1.5px solid white;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  display: inline-block;
  
}
.img-desc{
  border-top: 1.5px solid white;
}
.section-right {
  
  margin-left: 32px;
}
.parrafo span {
  display: block;
  font-weight: bold;
  margin-bottom: 16px;
}
.pepito {
  width: 100%;
  height: 3000px;
}

.footer {
  background-color: #001534;
  width: 100%;
  padding-top: 40px;
  color: white;
  
}


