
.wrapper-news {
    width: 100%;
    height: 100%;
    background-image: url("../res/noticias.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-news {
    margin-top: 20px;
}
.news {
   display:block;
  background-color:red;
    height: 300px;
    width: 100%;
    
}
.textNews {
    display: inline-block;
    background: linear-gradient(
	to right,
	rgba(0, 0, 0, 0.3),
	rgba(0, 0, 0, 0)
    );
    padding: 0px 40px;
    color: white;
    font-size: 32px;
    margin-bottom: 15px;
}

.text-1 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 50px;
  color:white;
  font-size: 23px;
  margin: 15px;
    
}
.parrafo {
  
  padding: 5%;
  

}
.slider-buttons {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 90%;
    right: 0;
    padding: 20px;
}

.footer {
    background-color: #001534;
    width: 100%;
    padding-top: 40px;
    color: white;
    
}

