* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 16px;
}

.header a {
    color: white;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
}

.logo-nav {
    display: flex;
    align-items: flex-end;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 150px;
}

.nav {
    background-color: rgba(0, 0, 0, 0.35);
    display: inline-block;
    margin-left: 32px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nav:hover {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.lang {
    display: inline-block;
    color: white;
    font-weight: bold;
}

.lang a {
    color: white;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
}

.lang a:hover {
    text-decoration: underline;
}

.nav ul {
    list-style: none;
    font-size: 0px;
}

.nav a {
    display: inline-block;
    padding: 12px;
    font-size: 14px;
    -webkit-transition: all 0.4s;
    transition: all 0.2s;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.header-resp{
    display: none;
}

.bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.bg-index {
    position: absolute;
    background-image: url("../res/min/index.jpg");
}

.bg-species-of-the-month, .bg-species {
    position: absolute;
    background-image: url("../res/min/species.jpg");
}

.bg-aula-marina {
    position: absolute;
    background-image: url("../res/min/aula-marina.jpg");
}

.bg-people {
    position: fixed;
    top:0;
    left: 0;
    background-image: url("../res/min/people.jpg");
}

.bg-facilities {
    position: absolute;
    background-image: url("../res/min/facilities.jpg");
}

.bg-about-us {
    position: absolute;
    background-image: url("../res/min/about-us.jpg");
}

.bg-activities {
    position: fixed;
    top:0;
    left: 0;
    background-image: url("../res/min/activities.jpg");
}

.bg-activity {
    position: absolute;
    background-image: url("../res/min/activities.jpg");
}

.bg-projects {
    position: fixed;
    top:0;
    left: 0;
    background-image: url("../res/min/projects.jpg");
}

.bg-project {
    position: fixed;
    top:0;
    left: 0;
    background-image: url("../res/min/projects.jpg");
}

.bg-news {
    position: fixed;
    top:0;
    left: 0;
    background-image: url("../res/min/news.jpg");
}

.bg-contact {
    position: absolute;
    background-image: url("../res/min/contact.jpg");
}

.index-content {
    margin-top: 6vw;
}

.content {
    margin-top: 3vw;
}

.title {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0)
    );
    display: inline-block;
    padding: 15px 75px;
    padding-left: 25px;
    margin-left: 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-content {
    width: 50%;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.slider-content img {
    height: 290px;
    object-fit: cover;
}

.text {
    display: inline-block;
    background: linear-gradient(
	to right,
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0)
    );
    padding: 32px 48px;
    color: white;
    font-size: 3.6vw;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.text:hover {
    color:aqua;
}

.text span {
    display: block;
    word-wrap: normal;
    width: 100%;
}

.slider-buttons {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 12px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.slider-buttons:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-button {
    margin: 0 4px;
    border: 2px solid white;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 20%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.species-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 20px;
}

.recent-species {
    background-color: rgba(0,0, 0, 0.8);
    color: white;
    width: 20vw;
    height: 20vw;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.recent-month{
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: bold;
}
.recent-species:hover .recent-month{
    color: black;
}
.recent-species a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.recent-species:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.recent-species:hover a {    
    color: black;
}

.recent-species-img img {
    display: block;
    width:15vw;
    height: 15vw;
    margin: auto;
    border-radius: 50%;
}

.description-img {
    display: block;
    width: 80%;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.description-img a {
    color: white;
    text-decoration: none;
}

.description-img a:hover {
    color: black;
}

.lasted-species {
    background-color: rgba(0,0, 0, 0.8);
    width: 460px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 20px 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.lasted-species:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.dropdown {
    display: flex;
    background-color: #03141F;
    align-items: center;
}

.button{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 7px 0;  
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative; 
    right: -5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: 0;
    z-index: 9;
}

select option {
    background-color: #03141F;
    text-align: center;
}

.arrow {
    background-color: #03141F;
    color: white;
    display: inline-block;
    text-align: center;
    position: relative;
    left: -20px;
}

.lasted-species-box {
    text-align: center;
    display:inline-block;
    width:90px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    padding: 10px;
    margin: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.lasted-species-box img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}

.lasted-species a {
    color:white;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.lasted-species a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.ind-species-box {
    background-color: rgba(0,0, 0, 0.9);
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
    margin-left: 32px;
    align-items: center;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 16px;
}

.ind-species-box:hover {
    background-color: rgba(0,0, 0, 0.97);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.ind-species-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.ind-species-text {
    padding: 20px;
}

.ind-species-text h1 {
    text-align: center;
    padding: 15px;
    border-bottom: white solid 2px;
}

.ind-species-text p {
    text-align: justify;
    padding: 15px;
}

.content-aula-marina {
    width: 100%;
    height: 80%;
}

.aula-marina-links {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    --flex-direction: column;
    margin: auto;   
}

.aula-marina-links a {
    display: block;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    padding: 30px 0;
    margin: 16px;
    color: white;
    font-size: 24px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.aula-marina-links a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.people-left{
    color: white;
    background: linear-gradient(
	to right,
	rgba(0, 0, 0, 0.8),
	rgba(0, 0, 0, 0)
    );
    display:flex;
    margin:2% 5%;
    justify-content: flex-start;
}

.people-img img{
    height: 170px;
    margin: 15px;
    border-radius: 50%;
    width: 170px;
    object-fit: cover;    
}
.people-text{
    margin: 24px;
    display: inline-block; 
}
.people-title{
    font-size: 16px;
    font-weight: bold;
}


.people-right{
    color: white;
    background: linear-gradient(
	to left,
	rgba(0, 0, 0, 0.8),
	rgba(0, 0, 0, 0)
    );
    display: flex;
    right: 10px;
    margin:2% 5%;  
    justify-content: flex-end;

}





.section {
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px 32px;
    margin-left: 32px;
    margin-top: 10px;
    color:white;
    text-align: justify;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.section:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.97);
}

.section-top {
    padding-bottom: 16px;
}

.section-bot {
    display: flex;
    justify-content: space-between;
}

.section-bot img {
    width: 100%;
    object-fit: cover;
}

.section-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;
}

.section-left p {
    margin-bottom: 16px;
    text-align: justify;
}

.section-slider-buttons {
    text-align: right;
    margin: 4px 0;
}

.section-slider-buttons .slider-button {
    display: inline-block;
}

.section-right {
    display: inline-block;
    width: 40%;
}

.section-text {
    width: 55% !important;
}

.section-img {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.img-desc {
    border-top: 1.5px solid white;
}

.par span {
    display: block;
    font-weight: bold;
    margin-bottom: 16px;
}

.pepito {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 32px;
}

.section-left1 {  
    background-color: rgba(0, 0, 0, 0.85);
    padding: 16px 32px;
    color:white;
    text-align: justify;
    width: 43%;
    margin: 22px 0;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.section-left1:hover {
    background-color: rgba(0, 0, 0, 0.97);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.class2 {
    display: flex;
    margin-top: 10px;
}

.title-act-gen{
    display: flex;
    margin: 32px;
}
  
.title-act {
    background-color: rgba(0, 0, 0, 0.85);   
    color: white;
    padding: 20px 16px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-right: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.title-act:hover {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.6);
    color: black;
}

.active {
    background-color: rgba(0, 0, 0, 1) !important;   
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6) !important;
    color: white !important;
}

.news-date {
    font-weight: bold;
    border-top: 2px solid white;
}

.class2 img {
    width: 18vw;
    height: 14vw;
    margin-right: 10px;
    object-fit: cover;
}

.section-right1 {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 16px 32px;
    color:white;
    text-align: justify;
    width: 43%;
    margin: 22px 0;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.section-right1:hover {
    background-color: rgba(0, 0, 0, 0.97);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}


.class-left2 {
    display: flex;
    justify-content: space-between;
}
  
.class-right2 {
    display: flex;
    justify-content: space-between;
}

.section-left3 span {
    font-weight: bold;
    margin-bottom: 10px;
}

.section-left3 div {
    margin-bottom: 10px;
    border-bottom: white solid 1.5px;
}

.section-right3 span {
    font-weight: bold;
    margin-bottom: 10px;
}

.section-right3 div {
    margin: 5px;
    border-bottom: white solid 2px;
}

.content-projects {
    display: flex;
    flex-direction: column;
}

.project-x {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 2%;
    display: flex;
    width: 90%;
    margin: 10px 0;
    margin-left: 32px;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.project-x:hover {
    background-color: rgba(0, 0, 0, 0.99);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: white;
    
}

.project-x-img {
    display: flex;
    align-items: center;
}

.project-x p {
    text-align: justify;
}

.project-x img {
    width: 13vw;
    height: 13vw;
    object-fit: cover;
}

.project-x h1 {
    text-align: center;
    border-bottom: 2px solid;
    margin-bottom: 16px;
    width: 100%;
}

.text-projects {
    width: 100%;
    padding: 0 16px;
}

.content-project {
    width: 95%;
    background-color: rgba(0,0, 0, 0.9);
    margin: 10px 0;
    margin-left: 32px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.content-project:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.section-project {
    background-color: rgba(0,0, 0, 0.0);
    padding: 20px;
    display: flex;
    align-content: center;
    color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.section-project:hover {
    background-color: rgba(0,0, 0, 0.7);
}

.img-project img {
    width: 30vw;
    height: 25vw;
    object-fit: cover;
}

.slider-buttons1 {
    text-align: right;
    right: 3px;
    margin-right: 10px;
    border-bottom: white solid 1px;
}

.slider-button1 {
    border: 1px solid rgb(255, 255, 255);
    margin-right: 8px;
    width: 8px;
    height: 8px;
    display: inline-block;
}
.text-project{
    padding: 0 32px;
    width: 58%;
}
.text-project span {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.text-project p{
    color: white;  
    margin: 15px;  
    text-align: justify;
}

.loc-cont-box {
    padding: 32px;
}
  
.location-box {
    background-color: rgba(0,0, 0, 0.8);
    color: white;
    display: inline-block;
    padding: 15px;
    width: 45%;
}
  
.location-box h1 {
    font-size: 17px;
    padding: 10px;
    text-align: center;
    border-bottom: white solid;  
}

.location-box p {
    padding: 10px;
    display: block;
}

.map {
    padding: 10px 0;
    width: 100%;
}
  
.contact-box {
    display: inline-block;
    width: 45%;
    margin-left: 5%;
    min-height: 370px;
    vertical-align: top;
    margin-bottom: 64px;
}

.contact-box .inner-contact-box {
    background-color: rgba(0,0, 0, 0.8);
    color: white;
    display: inline-block;
    padding: 15px;
    width: 100%;
    min-height: 340px;
}

.contact-box h1 {
    font-size: 17px;
    padding: 10px;
    text-align: center;
    border-bottom: white solid;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-box p {
    margin-bottom: 15px;
    text-align: justify;
}

footer {
    background-color: #001534;
    width: 100%;
    padding-top: 40px;
    position: absolute;
    top: 100%;
    color: white;
}

.footer {
    background-color: #001534;
    width: 100%;
    padding-top: 40px;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-around;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos img {
    margin-right: 60px;
}

.aula-marina-logo {
    width: 170px;
}

.ceimar-logo {
    width: 240px;
}

.ual-logo {
    width: 260px;
}

.rrss-content {
    border-left: 2px solid white;
    padding-left: 16px;
    padding-bottom: 16px;
}

.rrss-icons {
    margin-top: 30px;
    font-size: 32px;
}

.rrss-icons a {
    margin-right: 12px;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.rrss-icons a:hover {
    color: #bbbbbb;
}
.contact-content {
    border-left: 2px solid white;
    padding-left: 16px;
    padding-bottom: 16px;
}

.contact span {
    display: block;
}

.contact-text {
    margin-bottom: 16px;
}

.contact a {
    margin-bottom: 0px;
    color: aqua;
}

.footer-bot {
    padding: 20px 0px;
    text-align: center;
}


@media only screen and (max-width: 1090px) {
    .bg {
        position: fixed;
        top:0;
        left: 0;
    }

    .header{
        display: none;
    }

    .header-resp{
        display: block;
        background-color: #001534;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .logo-button-resp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
    }

    .logo-resp img{
        height: 25px;
    }

    .button-resp {
        color: white;
        font-size: 32px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .button-resp:hover {
        color: #2a4b7a;
    }

    .nav-resp{
        position: fixed;
        top: 53.75px;
        bottom: 0px;
        background-color: #001534;
        width: 100%;
        z-index: 10;
        display: none;
        overflow-y: auto;
    }

    .nav-resp a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 30px 10px;
        text-align: center;
        font-size: 20px;
        background-color: #001534;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .nav-resp a:hover{
        background-color: #2a4b7a;
    }

    .title {
        margin-top: 64px;
    }

    .text.slider-content{
        margin-top: 150px;
        width: 78%;
        height: auto;
    }

    .text span{
        font-size: 42px;
    }


    .species-box {
        flex-direction: column;
    }

    .recent-species {
        width: 80%;
        height: auto;
        margin-bottom: 32px;
        padding: 16px 32px;
        padding-bottom: 0;
        font-size: 12px;
    }

    .recent-species img {
        width: 100%;
        height: 120px;
        border-radius: 0;
        object-fit: cover;
        margin-top: 16px;
    }

    .lasted-species {
        width: 80%;
        height: 200px;
        
    }

    .ind-species-img img{
        width: 100%;
        height: 200px;
    }

    .lasted-species div:nth-of-type(2) { 
        overflow-x: auto;
        white-space: nowrap;
        padding: 16px 0;
    }

    .ind-species-box{
        flex-direction: column;
        width: 75%;
    }



    .aula-marina-links {
        flex-direction: column;
    }

    .people-left, .people-right {
        flex-direction: column;
    }

    .people-left {
        align-items: flex-start;
    }

    .people-right {
        align-items: flex-end;
    }
    
    .section {
        width: 70%;
    }
    
    .section-bot {
        flex-direction: column;
    }

    .section-left, .section-right, .section-text, .section-img {
        width: 100% !important;
    }

    .section-left1, .section-right1 {
        width: 72%;
    }
    
    .class2 {
        flex-direction: column;
        width: 90%;
    }

    .class2 img {
        width: 100%;
        height: 200px;
        margin-bottom: 8px;
    }

    .pepito { 
        width: 90%;
    }

    .project-x {
        width: 78%;
        flex-direction: column;
        padding: 20px;
    }

    .project-x-img {
        margin-bottom: 16px;
    }

    .project-x-img img {
        width: 100%;
        height: 200px;
    }
    
    .text-projects {
        padding: 0;
    }

    .text-project{
        margin-top: 16px;
    }

    .content-project {
        width: 90%;
    }

    .section-project {
        flex-direction: column;
    }

    .section-project .text-project {
        width: 100%;
        padding: 0;
    }
    
    .slider-content {
        height: 200px;
    }
    
    .slider-content img {
        width: 100%;
        height: 200px;
    }

    .loc-cont-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location-box, .contact-box {
        width: 100%;
        display: block;
        margin: 0;
        margin-bottom: 32px;
        padding: 16px;
    }

    .contact-box{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .inner-contact-box{
        width: 100%;
        padding: 0 !important;
        background-color: transparent !important;
    }

    .contact-info{
        flex-direction: column;
    }

    footer {
        background-color: #001534;
        width: 100%;
        padding-top: 40px;
        position: unset;
        color: white;
        margin-top: 40px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .logos {
        flex-direction: column;
        align-items: center;
    }

    .logos a {
        padding: 8px 0;
    }

    .logos img {
        margin: 0;
    }

    .aula-marina-logo {
        width: 140px;
    }
    
    .ceimar-logo {
        width: 190px;
    }
    
    .ual-logo {
        width: 210px;
    }

    .rrss-content {
        border: 0;
        padding: 0;
        margin: 16px 0;
        margin-top: 32px;
        text-align: center;
    }

    .rrss-icons {
        margin: 0;
        margin-top: 8px;
    }

    .rrss-icons a {
        padding: 12px 16px;
        font-size: 56px;
        margin: 0;
    }

    .contact-content {
        border: 0;
        padding: 0;
        margin: 16px 0;
    }

    .contact-content a {
        margin: auto;
    }

}