* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato';

}

.wrapper {
    background-image: url("../res/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
}
.head{
    display: flex;
    justify-content: space-between;
    
}
 .logo{
     display: block;
     margin-bottom: 10px;
 }
 .logo-menu {
     display: inline-block;
 }
 .lang{
     display: inline-block;
     color: white;
     text-decoration: none;
 }
 .lang a{
    color: white;
    text-decoration: none;
 }
.logo-menu img {

    width: 150px;

}
.logo-menu ul {
    display: inline-block;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo-menu ul a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.logo-menu ul a:hover{
    background-color: rgba(210, 210, 210, 0.5);
}
.section {
    margin-top: 70px;
}
.text{
    color: white;
    font-size:75px;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.3),
        rgba(0, 0, 0, 0)
    );
    display: inline-block;
    padding: 20px;
    

}
.text span {
    display: block;
}
.slider-buttons{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px;
    display: inline-block;
    position: absolute;
    top: 90%;
    right: 10px;

}
.slider-button{
    border: 2px solid white;
    width: 5px;
    display: inline-block;
    margin: 2px;
    height: 5px;
}
footer{
    position: absolute;
    top: 100%;
    background-color:#001534; 
    color: white;
    display: block;
    padding-top: 30px ;
    width: 100%;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    
}
.footer-logos{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-logos img {
    margin: 0 30px;

    
}
.aula-marina-logo{
    width: 135px;
}
.ceimar-logo{
    width: 165px;
}
.ual-logo{
    width: 185px;
}
.rrss-content{
    border-left:2px solid white ;
    padding-left: 12px;
    padding-bottom: 12px;
}
.rrss-icons{
    margin-top: 20px;


}
.rrss-icons a{
    color:white;
    text-decoration: none;
}
.rrss-icons i{
    font-size: 32px;
    margin-right:18px ;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.rrss-icons i:hover {
    color: aqua;
    

}
.footer-contacto-content{
    border-left:2px solid white ;
    padding-left: 12px;
    padding-bottom: 12px;
}
.contact-text{
    margin-bottom: 20px;
    display: block;
}
.contact-text span{
    display: block;
}
.footer-contacto-content a {
    color: aqua;
    margin-bottom: 0 !important;
}
.copy {
    text-align: center;
    
}


